<%= grid(cols: 1, gap_y: 5, gap_x: 7.5, items: "stretch") do %>
  <%= column(span: 1) do %>
    <%= kt_card(class_name: "h-full") do %>
      <%= kt_card_content(
            bg_class: "entry-callout-bg bg-[length:80%] rtl:[background-position:-70%_25%] [background-position:175%_25%]"
          ) do %>

        <div class="flex flex-col justify-center gap-4">
          <div class="flex -space-x-2">
            <%= kt_avatar(src: "/assets/media/avatars/300-4.png") %>
            <%= kt_avatar(src: "/assets/media/avatars/300-1.png") %>
            <%= kt_avatar(src: "/assets/media/avatars/300-2.png") %>
            <%= kt_avatar(type: :text, text: "S") %>
          </div>

          <h2 class="text-xl font-semibold text-mono">
            Connect Today & Join<br>
            the <a class="kt-link" href="#">KeenThemes Network</a>
          </h2>

          <p class="text-sm font-normal text-secondary-foreground leading-5.5">
            Enhance your projects with premium themes and<br>
            templates. Join the KeenThemes community today<br>
            for top-quality designs and resources.
          </p>
        </div>

      <% end %>

      <%= kt_card_footer(link_text: "Get Started", link_url: "/demo1/account/home/get-started.html") %>
    <% end %>
  <% end %>
<% end %>
