<%= kt_grid(cols: 3, gap_y: 5, gap_lg: 7.5, items: "stretch") do %>
  <%= kt_column(span: 1) do %>
    <%= kt_card(height: "h-full") do %>
      <%= kt_card_header(title: "Highlights") do %>
        <%= kt_menu(dropdown: true) do %>
          <%= kt_menu_item(toggle: "dropdown", trigger: "click", placement: "bottom-start", offset: "0, 10px") do %>
            <%= kt_menu_toggle(icon: "ki-dots-vertical", size: "sm", variant: "ghost") %>
            <%= kt_menu_dropdown(max_width: "200px") do %>
              <%= kt_menu_item do %>
                <%= kt_menu_link(href: "/demo1/account/activity.html", icon: "ki-cloud-change", title: "Activity") %>
              <% end %>
              <%= kt_menu_item do %>
                <%= kt_menu_link(href: "#", icon: "ki-share", title: "Share", class_name: "data-kt-modal-toggle='#share_profile_modal'") %>
              <% end %>
              <%= kt_menu_item(toggle: "dropdown", trigger: "click|lg:hover", placement: "right-start", offset: "-15px, 0") do %>
                <%= kt_menu_link(icon: "ki-notification-status", title: "Notifications", arrow: true) %>
                <%= kt_menu_dropdown(max_width: "175px") do %>
                  <%= kt_menu_item do %>
                    <%= kt_menu_link(href: "/demo1/account/home/settings-sidebar.html", icon: "ki-sms", title: "Email") %>
                  <% end %>
                  <%= kt_menu_item do %>
                    <%= kt_menu_link(href: "/demo1/account/home/settings-sidebar.html", icon: "ki-message-notify", title: "SMS") %>
                  <% end %>
                  <%= kt_menu_item do %>
                    <%= kt_menu_link(href: "/demo1/account/home/settings-sidebar.html", icon: "ki-notification-status", title: "Push") %>
                  <% end %>
                <% end %>
              <% end %>
              <%= kt_menu_item do %>
                <%= kt_menu_link(href: "#", icon: "ki-dislike", title: "Report", class_name: "data-kt-modal-toggle='#report_user_modal'") %>
              <% end %>
              <%= kt_menu_separator %>
              <%= kt_menu_item do %>
                <%= kt_menu_link(href: "/demo1/account/home/settings-enterprise.html", icon: "ki-setting-3", title: "Settings") %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
     <%= kt_card_content(padding: "p-5 lg:p-7.5 lg:pt-4") do %>
       <%= kt_flex(direction: :col, gap: 4) do %>
         <%= kt_flex(direction: :col, gap: 0.5) do %>
           <span class="text-sm font-normal text-secondary-foreground">All time sales</span>
           <%= kt_flex(gap: 2.5, align: :center) do %>
             <span class="text-3xl font-semibold text-mono">$295.7k</span>
             <span class="kt-badge kt-badge-outline kt-badge-success kt-badge-sm">+2.7%</span>
           <% end %>
         <% end %>

         <%= kt_flex(gap: 1, margin_bottom: "mb-1.5") do %>
           <div class="bg-green-500 h-2 w-full max-w-[60%] rounded-xs"></div>
           <div class="bg-destructive h-2 w-full max-w-[25%] rounded-xs"></div>
           <div class="bg-violet-500 h-2 w-full max-w-[15%] rounded-xs"></div>
         <% end %>

         <%= kt_flex(gap: 4, margin_bottom: "mb-1", wrap: true) do %>
           <%= kt_flex(gap: 1.5, align: :center) do %>
             <span class="rounded-full size-2 rounded-full kt-badge-success"></span>
             <span class="text-sm font-normal text-foreground">Metronic</span>
           <% end %>
           <%= kt_flex(gap: 1.5, align: :center) do %>
             <span class="rounded-full size-2 rounded-full kt-badge-destructive"></span>
             <span class="text-sm font-normal text-foreground">Bundle</span>
           <% end %>
           <%= kt_flex(gap: 1.5, align: :center) do %>
             <span class="rounded-full size-2 rounded-full kt-badge-info"></span>
             <span class="text-sm font-normal text-foreground">MetronicNest</span>
           <% end %>
         <% end %>

         <div class="border-b border-input"></div>

         <%= kt_grid(gap: 3) do %>
           <%= kt_flex(justify: :between, wrap: true, gap: 2) do %>
             <%= kt_flex(gap: 1.5, align: :center) do %>
               <i class="ki-filled ki-shop text-base text-muted-foreground"></i>
               <span class="text-sm font-normal text-mono">Online Store</span>
             <% end %>
             <%= kt_flex(gap: 6, class_name: "text-sm font-medium text-foreground") do %>
               <span class="lg:text-right">$172k</span>
               <%= kt_flex(gap: 1, align: :center) do %>
                 <i class="ki-filled ki-arrow-up text-green-500"></i>
                 <span>3.9%</span>
               <% end %>
             <% end %>
           <% end %>

           <%= kt_flex(justify: :between, wrap: true, gap: 2) do %>
             <%= kt_flex(gap: 1.5, align: :center) do %>
               <i class="ki-filled ki-facebook text-base text-muted-foreground"></i>
               <span class="text-sm font-normal text-mono">Facebook</span>
             <% end %>
             <%= kt_flex(gap: 6, class_name: "text-sm font-medium text-foreground") do %>
               <span class="lg:text-right">$85k</span>
               <%= kt_flex(gap: 1, align: :center) do %>
                 <i class="ki-filled ki-arrow-down text-destructive"></i>
                 <span>0.7%</span>
               <% end %>
             <% end %>
           <% end %>

           <%= kt_flex(justify: :between, wrap: true, gap: 2) do %>
             <%= kt_flex(gap: 1.5, align: :center) do %>
               <i class="ki-filled ki-instagram text-base text-muted-foreground"></i>
               <span class="text-sm font-normal text-mono">Instagram</span>
             <% end %>
             <%= kt_flex(gap: 6, class_name: "text-sm font-medium text-foreground") do %>
               <span class="lg:text-right">$36k</span>
               <%= kt_flex(gap: 1, align: :center) do %>
                 <i class="ki-filled ki-arrow-up text-green-500"></i>
                 <span>8.2%</span>
               <% end %>
             <% end %>
           <% end %>
         <% end %>
       <% end %>
     <% end %>
   <% end %>
 <% end %>
 <%= kt_column(span: 2) do %>
   <%= kt_card(height: "h-full") do %>
     <%= kt_card_header(title: "Earnings") do %>
       <%= kt_flex(gap: 5) do %>
         <label class="flex items-center gap-2">
          <input class="kt-switch" name="check" type="checkbox" value="1"/>
          <span class="kt-label">Referrals only</span>
         </label>
         <select class="kt-select w-36" data-kt-select="true" data-kt-select-placeholder="Select period" name="kt-select">
          <option>None</option>
          <option value="1">1 month</option>
          <option value="2">3 month</option>
          <option value="3">6 month</option>
          <option value="4">12 month</option>
         </select>
       <% end %>
     <% end %>

     <%= kt_card_content(padding: "px-3 py-1") do %>
       <%= kt_flex(direction: :col, justify: :end, align: :stretch, grow: true) do %>
         <div id="earnings_chart"></div>
       <% end %>
     <% end %>
   <% end %>
 <% end %>
<% end %>