<!-- Main -->
<div class="flex grow">


<!-- Sidebar -->
    <%= kt_sidebar do %>
      <%= kt_sidebar_header %>
      <%= render "metronic/layouts/partials/page/main/kt-sidebar/kt-sidebar-content" %>
 
    <% end %>
<!-- End of Sidebar -->


   <!-- Wrapper -->
   <%# <div class="kt-wrapper flex grow flex-col"> %>
    <%= kt_wrapper( id: "main-wrapper") do %>

    <%= kt_header(
      logo_src: "/assets/media/app/custom-logo.svg",
      logo_link: "/",
      drawer_buttons: [
        { target: "#sidebar", icon_class: "ki-filled ki-menu" },
        { target: "#custom_drawer", icon_class: "ki-filled ki-settings" }
      ],
      mega_menu_partial: "metronic/layouts/partials/page/main/kt-header/megamenu",
      topbar_partial: "metronic/layouts/partials/page/main/kt-header/topbar"
    ) %>
        
    <%= kt_main_content do %>
      <%= kt_content_container %>
      <%= kt_content_container do %>
        <%= kt_content_grid do %>
         <%= render_flash_messages %>
          <%= yield %>
          <%#= render 'metronic/layouts/partials/page/main/content/grid/123' %>
          <%#= render 'metronic/layouts/partials/page/main/content/grid/highlights' %>
          
        <% end %>
      <% end %>
    <%end%>
    
    <%= kt_footer(
          year: 2025, 
          company: { name: "PT. Cakramedia Indocyber", url: "/" },
          links: [
            { title: "Home", url: "/" },
            { title: "About", url: "/about" },
            { title: "Contact", url: "/contact" }
          ]
        ) %>  

         <!-- page content -->
  <% end %>
<!-- End of Wrapper -->
  </div>
  <!-- End of Main -->