<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h4>
      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="mb-3">
    <%= form.label :status, class: 'form-label' %>
    <%= form.select :status, [['Active', 'active'], ['Inactive', 'inactive']], {}, class: 'form-select' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>