<div class="kt-sidebar bg-background border-e border-e-border fixed top-0 bottom-0 z-20 hidden lg:flex flex-col items-stretch shrink-0" 
     data-kt-drawer="true" 
     data-kt-drawer-class="kt-drawer kt-drawer-start top-0 bottom-0" 
     id="sidebar">
  
  <%= render 'layouts/sidebar/sidebar_header' %>
  
  <!-- Sidebar Content -->
  <div class="kt-sidebar-content flex grow shrink-0 py-5 pe-2" id="sidebar_content">
    <div class="kt-scrollable-y-hover grow shrink-0 flex ps-2 lg:ps-5 pe-1 lg:pe-3" 
         data-kt-scrollable="true" 
         id="sidebar_scrollable">
      
      <!-- Sidebar Menu -->
      <div class="kt-menu flex flex-col grow gap-1" data-kt-menu="true" id="sidebar_menu">
        
        <!-- Dashboard -->
        <div class="kt-menu-item <%= 'active' if controller_name == 'dashboard' %>">
          <%= link_to protected_dashboard_path, class: "kt-menu-link flex items-center grow cursor-pointer border border-transparent gap-[10px] ps-[10px] pe-[10px] py-[6px] kt-menu-item-active:bg-accent/60 hover:bg-accent/60 hover:rounded-lg" do %>
            <span class="kt-menu-icon items-start text-muted-foreground w-[20px]">
              <i class="ki-filled ki-element-11 text-lg"></i>
            </span>
            <span class="kt-menu-title text-sm font-medium text-foreground kt-menu-item-active:text-primary kt-menu-item-active:font-semibold">Dashboard</span>
          <% end %>
        </div>
        
        <!-- People -->
        <div class="kt-menu-item <%= 'active' if controller_name == 'people' %>">
          <%= link_to protected_people_path, class: "kt-menu-link flex items-center grow cursor-pointer border border-transparent gap-[10px] ps-[10px] pe-[10px] py-[6px] kt-menu-item-active:bg-accent/60 hover:bg-accent/60 hover:rounded-lg" do %>
            <span class="kt-menu-icon items-start text-muted-foreground w-[20px]">
              <i class="ki-filled ki-users text-lg"></i>
            </span>
            <span class="kt-menu-title text-sm font-medium text-foreground kt-menu-item-active:text-primary kt-menu-item-active:font-semibold">People</span>
          <% end %>
        </div>

        <!-- Issues -->
        <%= render 'layouts/sidebar/public_profile_menu' %>

        <!-- User Management -->
        <%= render 'layouts/sidebar/my_account_menu' %>

        <!-- Network -->
        <%= render 'layouts/sidebar/network_menu' %>

        <!-- Authentication -->
        <%#= render 'layouts/sidebar/authentication_menu' %>

        <!-- Device Management -->
        <%= render 'layouts/sidebar/store_menu' %>
        
      </div>
      
    </div>
  </div>
</div>