<!DOCTYPE html>
<html class="h-full" data-kt-theme="true" data-kt-theme-mode="light" dir="ltr" lang="en">
<head>
  <title>
    <%= content_for?(:title) ? yield(:title) : "Metronic - Dashboard" %>
  </title>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
  <meta name="csrf-param" content="<%#= csrf_meta_tags %>" />
  <meta name="csrf-token" content="<%#= csrf_meta_tags %>" />
  
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" %>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link href="/assets/vendors/apexcharts/apexcharts.css" rel="stylesheet"/>
  <link href="/assets/vendors/keenicons/styles.bundle.css" rel="stylesheet"/>
  <link href="/assets/css/styles.css" rel="stylesheet"/>
</head>

<body 
    class="antialiased flex h-full text-base text-foreground bg-background demo1 kt-sidebar-fixed kt-header-fixed">
  
  <!-- Theme Mode Script -->
  <script>
    const defaultThemeMode = 'light';
    let themeMode;

    if (document.documentElement) {
      if (localStorage.getItem('kt-theme')) {
        themeMode = localStorage.getItem('kt-theme');
      } else if (document.documentElement.hasAttribute('data-kt-theme-mode')) {
        themeMode = document.documentElement.getAttribute('data-kt-theme-mode');
      } else {
        themeMode = defaultThemeMode;
      }

      if (themeMode === 'system') {
        themeMode = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
      }

      document.documentElement.classList.add(themeMode);
    }
  </script>
  
  <!-- Main Layout -->
  <div class="flex grow">
    
    <!-- Sidebar -->
    <%= render 'layouts/sidebar' %>
    
    <!-- Wrapper -->
    <div class="kt-wrapper flex grow flex-col">
      
      <!-- Header -->
      <%= render 'layouts/header' %>
      
      <!-- Flash Messages -->
      <%= render 'layouts/flash_messages' %>
      
      <!-- Content -->
      <main class="grow pt-5" id="content" role="content">
        <%= yield %>
      </main>
      
      <!-- Footer -->
      <%= render 'layouts/footer' %>
      
    </div>
  </div>
  
  <!-- Modals -->
  <%= render 'layouts/modals/search_modal' %>
  <%= render 'layouts/modals/notifications_drawer' %>
  <%= render 'layouts/modals/chat_drawer' %>
  <!-- Scripts -->
  <script src="/assets/js/core.bundle.js">
  </script>
  <script src="/assets/vendors/ktui/ktui.min.js">
  </script>
  <script src="/assets/vendors/apexcharts/apexcharts.min.js">
  </script>
  <script src="/assets/js/widgets/general.js">
  </script>
  <script src="/assets/js/layouts/demo1.js">
  </script>
  <!-- End of Scripts -->
</body>
</html>