<!--
Product: Metronic is a toolkit of UI components built with Tailwind CSS for developing scalable web applications quickly and efficiently
Version: v9.3.2
Author: Keenthemes
Contact: support@keenthemes.com
Website: https://www.keenthemes.com
Support: https://devs.keenthemes.com
Follow: https://www.twitter.com/keenthemes
License: https://keenthemes.com/metronic/tailwind/docs/getting-started/license
-->
<!DOCTYPE html>
<html class="h-full" data-kt-theme="true" data-kt-theme-mode="light" dir="ltr" lang="en">
<%= render 'partials/raw/head' %>

 <body class="antialiased flex h-full text-base text-foreground bg-background demo1 kt-sidebar-fixed kt-header-fixed">

  <%= render 'partials/raw/theme_mode' %>
  
  <!-- Page -->
  <!-- Main -->
  <div class="flex grow">
   
   <%= render 'partials/raw/sidebar' %>
   <!-- Wrapper -->
   <div class="kt-wrapper flex grow flex-col">
    <!-- Header -->
    <%= render 'partials/raw/body/header' %>
    <!-- End of Header -->
    <!-- Content -->
    <%= render 'partials/raw/contents/wrapper_content' %> 
    <!-- End of Content -->
    <!-- Footer -->
    <%= render 'partials/raw/footer' %> 
   </div>
   <!-- End of Wrapper -->
  </div>
  <!-- End of Main -->

<%= render 'partials/raw/modals' %>
  <!-- End of Page -->
  
  <!-- Scripts -->
  <%= render 'partials/raw/scripts' %>
  <!-- End of Scripts -->
 </body>
</html>
